* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; /* 박스 모델 크기의 계산기준 */
}

body {
    background: #1f1f1f; /* 전체 배경의 색상 */
    display: flex; /* 바디안에 컨텐츠 가로배치  */
    justify-content: center; /* 수직 중앙 */
    align-items: center; /* 수평 중앙 */
    height: 100vh; /* 높이 - 부모요소와 같게 */
}

.calculator {
    width: 287px;
    border: 1px solid #333; /* 배경색상과 계산기 테두리 사이의 색상구분 */
    background: #ccc; /* 계산기 전체의 색상 - 회색 */
    padding: 5px; /* 여백 */
}

.calculator form {
    display: grid; /* 컨테이너를 세로로 줄 맞춤 */
    grid-template-columns: repeat(4, 65px); /* 열을 지정해줌 4열과 65px을 높이로 맞춰줌 */
    grid-auto-rows: 65px;
    grid-gap: 5px; /* 그리드 속성 사이의 간격 */
}

.calculator form input {
    border: 2px solid #333; /* 버튼의 테두리 지정 */
    cursor: pointer; /* 버튼에 마우스를 가져다 댔을때 손가락모양이 보이게 */
    font-size: 19px; /* 버튼의 전체 글자크기 지정 */
}

.calculator form input:hover { /* 버튼에 마우스를 올렸을때 */
    box-shadow: 1px 1px 2px #333; /* 그림자효과 굵기, 굵기, 그림자 퍼짐정도, 그림자 색상  */
}

.calculator form .clear { /* 버튼 c의 스타일 지정 */
    background-color: #ed4848;
}

.calculator form .operator { /* 연산자 버튼의 스타일 지정 */
    background-color: orange;
}

.calculator form .dot { /* 마침표 - 소수점찍는 버튼의 스타일 지정 */
    background-color: green;
}

.calculator form input[type='text'] {
    grid-column: span 4; /* 해당 박스의 크기를 변경 = 4칸을 차지해라 */
    text-align: right; /* 텍스트 우측정렬 */
    padding: 0 10px; /* 좌우 간격 */
}

.calculator form .clear { /* 버튼 c의 스타일 지정 */
    grid-column: span 3; /* 해당 박스의 크기를 변경 = 3칸을 차지해라 */
}

.calculator form .result { /* 버튼 =의 스타일 지정 */
    grid-column: span 2; /* 해당 박스의 크기를 변경 = 2칸을 차지해라 */
}
